---
layout: layouts
title: Layouts
layouts-menu-accordion-pane: selected
---
	<script type="text/javascript" src="../js/lib/require.js" charset="utf-8"></script>
	<script type="text/javascript">
		$(function(){
			oTable = $('.ui-layout-west .ixf-table').dataTable({
				bAutoWidth:false,
				'sDom': 'f',
				"oLanguage": {
					"sSearch": ""
				},
				"iDisplayLength": 1000,
				fnDrawCallback:function(a){
					if(a.nTable.fixHeader){
						$(a.nTable).fixHeader("makeCopy");
					}
				}
			});
			$(".dataTables_filter input").addClass("ixf-filter ixf-match-width margin-xs dataTables_filter");
			//Loading Demo + Change Selected Row
			$(".charcoal tbody tr").live("click", function(){
				$(this).siblings().removeClass("selected");
				$(this).addClass("selected");
				$(".panel-loading").fadeIn();
				setTimeout("loadMania()", 1300);	
			});
		});
		function loadMania(){			
			$(".panel-loading").fadeOut();
		}
	</script>

<div class="ixf-panel ui-layout-west charcoal">


<div class="ixf-accordion default">
	<div>
		<h3><a href="#">First</a></h3>
		<div class="padding-sm">This is accordion content with the class "padding-md."</div>
	</div>
	<div>
		<h3><a href="#">Second</a></h3>
		<div class="padding-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
	</div>
	<div>
		<h3><a href="#">Third</a></h3>
		<div class="padding-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</div>
	</div>
</div>


</div><!-- /ixf-panel -->


<div class="ixf-panel ui-layout-center sunken">

		<div class="panel-loading">
			<p>Loading...</p><span></span>
		</div><!-- /panel-loading -->
		
<div class="padding-md">
<h1>Tables</h1>

<div class="ixf-toolbar">
	<span class="tool"><a href="#X" class="sprite delete prefix">Delete Checked</a></span>
	<span class="tool"><a href="#d" class="sprite add prefix" id="addItem">Add Item</a></span>
	<div class="float-right ixf-form text-sm">
		<select name="" id="">
			<option>Option One</option>
		</select>
	</div>
	<input type="text" name="some_name" value="" id="demo-filter" class="float-right text-sm" />
</div><!-- /ixf-toolbar -->
	<script>
		(function() {
			require(["../js/lib/handlebars"],function(Handlebars) {
				var rowTemplate = Handlebars.compile('{{#rows}}<tr><td class="iconwidth"><span class="ixf-option no-label"><input type="checkbox" name="some_name1" value="" id="some_name1"> <label for="some_name1">Select row</label></span></td><td><a href="#x">{{name}}</a></td><td>{{location}}</td><td>Data</td><td class="iconwidth"><a href="#x" class="rowdelete">Delete</a></td></tr>{{/rows}}');

				$.ajax({
					url: '/ajax/names?count=10',
					success: function( data ) {
						var locations = [
							"Bluffdale, UT",
							"Moab, UT",
							"Provo, UT",
							"Springdale, UT",
							"Laverkin, UT",
							"Levan, UT",
							"Hurricane, UT"],
							len = data ? data.length : 0, i, rows = [], locLen = locations.length;

						for(i=0; i<len; i++) {
							rows.push({id:i,name:data[i],location:locations[Math.floor(Math.random()*locLen)]});
						}
						$("#demo tbody").html(rowTemplate({rows:rows}));
						var demo = $('#demo').dataTable({
							bAutoWidth:false,
							'sDom': '',
							"oLanguage": {
								"sSearch": ""
							},
							"iDisplayLength": 1000, // how many rows should be shown by default
							fnDrawCallback:function(a){
								// this updated the fixHeader script after any sorting, etc
								if(a.nTable.fixHeader){
									(a.nTable).fixHeader("makeCopy");
								}
							}
						});
						$("#demo-filter").bind("keyup",function(){
							demo.fnFilter(this.value );
						})

					}
				});
			});
		}());
	</script>

<table id="demo" class="ixf-table ixf-fixed">
	<thead>
		<tr>
			<th class="iconwidth">&nbsp;</th>
			<th>Header With No Anchor (non-sortable)</th>
			<th><a href="#x">Header</a></th>
			<th><a href="#x" class="down">Header</a></th>
			<th class="iconwidth">&nbsp;</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="4" class="right">Total:</td>
			<td><strong>5000.00</strong></td>
		</tr>
	</tfoot>
	<tbody>
	</tbody>
</table>
</div><!-- /padding-md -->
</div>
<!-- /ixf-panel -->
