---
layout: layouts
title: Layouts
layouts-menu-finder: selected
---
		<script type="text/javascript" charset="utf-8">
			$(function(){
				// page level JS here
				$("#wardlist").finder({
					target:"#details",
					width:0,
					columnHeight:0,
					columnWidth: 300,
					duration: 250,
					scroll: false,
					easing: 'easeInQuad',
					next:"#finder-next",
					prev:"#finder-prev"
				});
			});
		</script>

	</head>
	<body class="master-detail">
		<div class="ixf-panel ui-layout-west charcoal">

			<div id="wardlist" class="fullwidth">
				<ul id="finder-list">
					<li><a href="#d">Groups</a></li>
					<li class="ajax"><a href="../demo/finder-ajax.html?grab=groups">Group 1</a>
						<ul>
							<li><a href="../demo/finder-ajax.html?grab=names">Sub-Group 1A</a>
								<ul>
									<li><a href="../demo/finder-ajax.html?grab=names">Item 1A-1</a></li>
									<li><a href="../demo/finder-ajax.html?grab=names">Item 1A-2</a></li>
									<li><a href="../demo/finder-ajax.html?grab=names">Item 1A-3</a></li>
									<li><a href="../demo/finder-ajax.html?grab=names">Item 1A-4</a></li>
								</ul>
							</li>
							<li><a href="../demo/finder-ajax.html?grab=names">Item 1B</a></li>
						</ul>
					</li>
					<li class="ajax"><a href="../demo/finder-ajax.html?grab=groups">Group 2</a></li>
					<li><a href="../demo/finder-ajax.html?grab=groups">Group 3</a>
						<ul>
							<li><a href="../demo/finder-ajax.html?grab=names">Item 1</a></li>
							<li><a href="../demo/finder-ajax.html?grab=names">Item 2</a></li>
							<li><a href="../demo/finder-ajax.html?grab=names">Item 3</a></li>
							<li><a href="../demo/finder-ajax.html?grab=names">Item 4</a></li>
						</ul>
					</li>
					<li class="ajax"><a href="../demo/finder-ajax.html?grab=groups">Group 4</a></li>
					<li class="ajax"><a href="../demo/finder-ajax.html?grab=groups">Group 5</a></li>
				</ul>
			
			</div>
			<div id="filter-controls" class="ixf-filter-nav padding-xs clear">
				<span class="float-left"><a href="#d" id="finder-prev" class="ixf-button secondary text-sm disabled">Back</a></span>
				<span class="float-right"><a href="#d" id="finder-next" class="ixf-button secondary text-sm disabled">Forward</a></span>
			</div>
<script type="text/javascript">
		$(function(){
			$("#wardlist").fillHeight({
				autoUpdate:true,
				resize:function(){
					$(this).finder("updateHeight");
				}
			})
		});
</script>
			
		</div>
		<div class="ixf-panel ui-layout-center padding-md sunken">

			<h1>Finder</h1>
			<p>This is the same finder as found on the <a href="../demo/finder.html">finder demo</a> page but we have added a class of <code>charcoal</code> to the panel to give it a different look. This main panel has also been given a <code>sunken</code> class.  For implementations see the <a href="../demo/finder.html">finder demo</a> page.</p>
			
			<p>Pages from the finder will load below</p>
			<div id="details">
				
				
			</div>
		</div>
