---
layout: layouts
title: Layouts
layouts-menu-three-panes: selected
---
	<script type="text/javascript">
		$(function(){
			// ixf.master1 = false;
			$('.charcoal').masterDetail({
				masterChild:"family",
				hashLabel:"group",
				cacheResults:true,
				onloaddetail:function(a,b){
					$(".ui-layout-center .ui-layout-center").html("");
				}
			});
		});
	</script>

<div class="ixf-panel ui-layout-west charcoal">

	<ul class="double-line">
		<li class="selected" id="group0">
			<a href="../demo/ajax-table-people.html?title=20th Group">20th Group</a>
			<span>453 People</span>
			<span>242 Adults</span>
			<span>211 Children</span>
		</li>
		<li  id="group1">
			<a href="../demo/ajax-table-people.html?title=21st Group">21st Group</a>
			<span>453 People</span>
			<span>242 Adults</span>
			<span>211 Children</span>
		</li>
		<li  id="group2">
			<a href="../demo/ajax-table-people.html?title=22nd Group">22nd Group</a>
			<span>453 People</span>
			<span>242 Adults</span>
			<span>211 Children</span>
		</li>
		<li  id="group3">
			<a href="../demo/ajax-table-people.html?title=23rd Group">23rd Group</a>
			<span>453 People</span>
			<span>242 Adults</span>
			<span>211 Children</span>
		</li>
		<li  id="group4">
			<a href="../demo/ajax-table-people.html?title=24th Group">24th Group</a>
			<span>453 People</span>
			<span>242 Adults</span>
			<span>211 Children</span>
		</li>
		<li  id="group5">
			<a href="../demo/ajax-table-people.html?title=25th Group">25th Group</a>
			<span>453 People</span>
			<span>242 Adults</span>
			<span>211 Children</span>
		</li>
		<li  id="group6">
			<a href="../demo/ajax-table-people.html?title=26th Group">26th Group</a>
			<span>453 People</span>
			<span>242 Adults</span>
			<span>211 Children</span>
		</li>
		<li  id="group7">
			<a href="../demo/ajax-table-people.html?title=27th Group">27th Group</a>
			<span>453 People</span>
			<span>242 Adults</span>
			<span>211 Children</span>
		</li>
	</ul>


</tbody>
</table><!-- /ixf-table -->


</div><!-- /ixf-panel -->


<div class="ixf-panel ui-layout-center">
	<div class="ixf-panel ui-layout-north" id="group"></div>
	<div class="ixf-panel ui-layout-center detail-pane-bg sunken" id="family"></div>
</div>
