---
layout: layouts
title: Layouts
layouts-menu-toolbox: selected
body-class: toolbox
---
	<script type="text/javascript">
		$(function(){		
			//Change Selected Tool
			$("#selector-demo li").click(function(){
				$(this).siblings().removeClass("selected");
				$(this).addClass("selected");
				if($(this).children("a").text() == "Annotated"){
					$("#area1").hide();
					$("#area2").show();
				} else {
					$("#area2").hide();
					$("#area1").show();
				}
			});
		});
	</script>

<div class="ixf-panel ui-layout-west toolbox-master">

<ul class="ixf-fixed margin-top-md" id="selector-demo">
	<li class="selected">
		<em class="sprite icon letter"></em>
		<a href="#d">Inbox</a>
		<strong>54</strong>	
	</li>
	<li>
		<em class="sprite icon star"></em>
		<a href="#d">Complete</a>
		<strong>6</strong>
	</li>
	<li>
		<em class="sprite icon notepad"></em>
		<a href="#d">Verification</a>
		<strong>13</strong>
	</li>
	<li>
		<em class="sprite icon locked"></em>
		<a href="#d">Confidential</a>
		<strong>7</strong>
	</li>
	<li>
		<em class="sprite icon note"></em>
		<a href="#d">Annotated</a>
		<strong>0</strong>
	</li>
</ul>
<!-- /master -->

</div><!-- /ixf-panel -->


<div class="ixf-panel ui-layout-center toolbox-detail">
		
<div class="lift margin-top-md margin-right-md padding-md margin-left-md">

	<div class="panel-loading">
		<p>Loading...</p><span></span>
	</div><!-- /panel-loading -->

<div id="area1">
<div class="ixf-toolbar">
	<span class="tool"><a href="#X" class="sprite delete prefix">Delete Checked</a></span>
	<span class="tool"><a href="#d" class="sprite add prefix" id="addItem">Add Item</a></span>
	<input type="text" name="some_name" value="" id="demo-filter" class="ixf-filter float-right" />
</div><!-- /ixf-toolbar -->

	<table class="ixf-table ixf-fixed">
		<thead>
		<tr>
			<th class="iconwidth">&nbsp;</th>
			<th><a href="#x">Header</a></th>
			<th><a href="#x">Header</a></th>
			<th><a href="#x" class="down">Header</a></th>
			<th class="iconwidth">&nbsp;</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="iconwidth"><span class="ixf-option no-label"><input type="checkbox" name="some_name0" value="" id="some_name0"> <label for="some_name0">Select row</label></span></td>
			<td><a href="#x">Flintstone, Fred</a></td>
			<td>1153466603</td>
			<td>Data</td>
			<td class="iconwidth"><a href="#x" class="rowdelete">Delete</a></td>
		</tr>
		<tr>
			<td class="iconwidth"><span class="ixf-option no-label"><input type="checkbox" name="some_name1" value="" id="some_name1"> <label for="some_name1">Select row</label></span></td>
			<td><a href="#x">Moore, Rick</a></td>
			<td>2046594696</td>
			<td>Data</td>
			<td class="iconwidth"><a href="#x" class="rowdelete">Delete</a></td>
		</tr>
		<tr>
			<td class="iconwidth"><span class="ixf-option no-label"><input type="checkbox" name="some_name2" value="" id="some_name2"> <label for="some_name2">Select row</label></span></td>
			<td><a href="#x">Duck, Donald</a></td>
			<td>445403504</td>
			<td>Data</td>
			<td class="iconwidth"><a href="#x" class="rowdelete">Delete</a></td>
		</tr>
		<tr>
			<td class="iconwidth"><span class="ixf-option no-label"><input type="checkbox" name="some_name3" value="" id="some_name3"> <label for="some_name3">Select row</label></span></td>
			<td><a href="#x">Flintstone, Fred</a></td>
			<td>903325315</td>
			<td>Data</td>
			<td class="iconwidth"><a href="#x" class="rowdelete">Delete</a></td>
		</tr>
		<tr>
			<td class="iconwidth"><span class="ixf-option no-label"><input type="checkbox" name="some_name4" value="" id="some_name4"> <label for="some_name4">Select row</label></span></td>
			<td><a href="#x">Moore, Rick</a></td>
			<td>1748213957</td>
			<td>Data</td>
			<td class="iconwidth"><a href="#x" class="rowdelete">Delete</a></td>
		</tr>
		<tr>
			<td class="iconwidth"><span class="ixf-option no-label"><input type="checkbox" name="some_name5" value="" id="some_name5"> <label for="some_name5">Select row</label></span></td>
			<td><a href="#x">Labrum, Clifton</a></td>
			<td>357219796</td>
			<td>Data</td>
			<td class="iconwidth"><a href="#x" class="rowdelete">Delete</a></td>
		</tr>
		<tr>
			<td class="iconwidth"><span class="ixf-option no-label"><input type="checkbox" name="some_name6" value="" id="some_name6"> <label for="some_name6">Select row</label></span></td>
			<td><a href="#x">Bear, Yogi</a></td>
			<td>235110126</td>
			<td>Data</td>
			<td class="iconwidth"><a href="#x" class="rowdelete">Delete</a></td>
		</tr>
		<tr>
			<td class="iconwidth"><span class="ixf-option no-label"><input type="checkbox" name="some_name7" value="" id="some_name7"> <label for="some_name7">Select row</label></span></td>
			<td><a href="#x">Flintstone, Fred</a></td>
			<td>555984035</td>
			<td>Data</td>
			<td class="iconwidth"><a href="#x" class="rowdelete">Delete</a></td>
		</tr>
		<tr>
			<td class="iconwidth"><span class="ixf-option no-label"><input type="checkbox" name="some_name8" value="" id="some_name8"> <label for="some_name8">Select row</label></span></td>
			<td><a href="#x">Mouse, Minnie</a></td>
			<td>1629962239</td>
			<td>Data</td>
			<td class="iconwidth"><a href="#x" class="rowdelete">Delete</a></td>
		</tr>
		<tr>
			<td class="iconwidth"><span class="ixf-option no-label"><input type="checkbox" name="some_name9" value="" id="some_name9"> <label for="some_name9">Select row</label></span></td>
			<td><a href="#x">Flintstone, Wilma</a></td>
			<td>1541967580</td>
			<td>Data</td>
			<td class="iconwidth"><a href="#x" class="rowdelete">Delete</a></td>
		</tr>
		</tbody>
	</table>
	<p class="text-sm margin-top-sm">Items in left pane are for examples only. Data in this pane will not be filtered.</p>
</div><!-- /area1 -->
<div id="area2" class="nothing" style="display:none;">
 <h1>There are no annotated records.</h1>
 <p>Records can be annotated in the Inbox.</p>
</div><!-- /area2 -->

<script type="text/javascript">
	$(function(){
		var demo = $('#demo').dataTable({
			bAutoWidth:false,
			'sDom': '',
			"oLanguage": {
				"sSearch": ""
			},
			"iDisplayLength": 1000, // how many rows should be shown by default
			fnDrawCallback:function(a){
				// this updated the fixHeader script after any sorting, etc
				if(a.nTable.fixHeader){
					(a.nTable).fixHeader("makeCopy");
				}
			}
		});
		$("#demo-filter").bind("keyup",function(){
			demo.fnFilter(this.value );
		})
	});
</script>
</div><!-- /padding-md -->
</div>
<!-- /ixf-panel -->
