---
layout: layouts
title: Layouts
layouts-menu-two-panes: selected
---
<div class="ixf-panel ui-layout-west">
	<script type="text/javascript" src="../js/lib/require.js" charset="utf-8"></script>
	<script>
		(function() {
			require(["../js/lib/handlebars","../js/dummyData"],function(Handlebars,dummyData) {
				var rowTemplate = Handlebars.compile('{' + '{#rows}}<tr id="row{' + '{id}}"><td><a href="../demo/ajax-person-detail.html?id={' + '{id}}&amp;title={' + '{name}}">{' + '{name}}</a></td><td>{' + '{location}}</td></tr>{' + '{/rows}}');

				var locations = [
					"Bluffdale, UT",
					"Moab, UT",
					"Provo, UT",
					"Springdale, UT",
					"Laverkin, UT",
					"Levan, UT",
					"Hurricane, UT"],
					data = dummyData.getNames(100),
					len = data ? data.length : 0, i, rows = [], locLen = locations.length;

				for(i=0; i<len; i++) {
					rows.push({id:i,name:data[i],location:locations[Math.floor(Math.random()*locLen)]});
				}
				$("#leftdemo tbody").append(rowTemplate({rows:rows}));
				var table = $("#leftdemo");
				table.addClass("ixf-table ixf-fixed ixf-table-default");
				ixf.setup();

				// setup the master/detail functionality. this makes the content from the rows clicked in the west pane load in the center pane
				$('.ui-layout-west .ixf-table').masterDetail({
					filter:"#leftdemo-filter", // selector of where the filter is
					more:"#leftdemo-more", // so the script can accurately show the more button
					cacheResults:true, // cache things so they don't load multiple times
					loadFirst:false // should we load the first row if there isn't one defined by the url or "slected" class
				});
			});
		}());
	</script>
	<table id="leftdemo" data-dt-rows="20">
		<thead>
			<tr>
				<td colspan="2"><input type="text" name="filter" value="" id="leftdemo-filter" class="ixf-fill-width"></td>
			</tr>
			<tr>
				<th><a href="#x">Name</a></th>
				<th><a href="#x">Location</a></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table><!-- /ixf-table -->

	<div class="ixf-toolbar padding-left-xs padding-right-xs">
		<span class="info" id="leftdemo-info">Showing <span class="dt-showing"></span> of <span class="dt-results"></span> Results</span>
		<span class="tool"><a href="#x" class="sprite refresh prefix" id="leftdemo-more">More</a></span>
	</div><!-- /ixf-toolbar -->
</div><!-- /ixf-panel -->


<div class="ixf-panel ui-layout-center sunken" id="detail">
	
	<div class="padding-md">
		<h1>Master/Detail</h1>
		
		<p>The master detail concept is that you have a master list in one panel, and the details of items in the list in another panel. This prevents the back and forth of stepping in and out of multiple records to find thing you want. Many users are familiar with this model from applications like Outlook or other email programs.</p>
		
		<h2>Documentation</h2>
		<p>This is a quick stab at some rough documentation.  Ask about what you don't know so we can know how to expand it. Below is a list of accepted options and a few of the methods you are likely to care about.</p>
		
		<h3>Options/Methods</h3>
		<table class="ixf-table ixf-table-default">
			<thead>
			<tr>
				<th><a href="#d">Name</a></th>
				<th><a href="#d">Type</a></th>
				<th><a href="#d">Default</a></th>
				<th><a href="#d">Options</a></th>
				<th><a href="#d">Description</a></th>
			</tr>
			</thead>
			<tr>
				<td><nobr>detailLink</nobr></td>
				<td>string</td>
				<td>a</td>
				<td></td>
				<td>selector for where the link to the detail is</td>
			</tr>
			<tr>
				<td><nobr>focusKeyboard</nobr></td>
				<td>boolean</td>
				<td>true</td>
				<td></td>
				<td>should we trap the keyboard right off the bat for navigating the master list</td>
			</tr>
			<tr>
				<td><nobr>filter</nobr></td>
				<td>string</td>
				<td></td>
				<td></td>
				<td>selector of where the optional filter field is</td>
			</tr>
			<tr>
				<td><nobr>loaderID</nobr></td>
				<td>string</td>
				<td>md-loading</td>
				<td></td>
				<td>id of the element used to show the loading indicator (created by script)</td>
			</tr>
			<tr>
				<td><nobr>loaderText</nobr></td>
				<td>string</td>
				<td>Loading</td>
				<td></td>
				<td>text used to display in the loading indicator</td>
			</tr>
			<tr>
				<td><nobr>hashLabel</nobr></td>
				<td>string</td>
				<td>detail</td>
				<td></td>
				<td>ID of the element where the detail should be loaded into. also used to create the hash in the URL for history tracking.</td>
			</tr>
			<tr>
				<td><nobr>casheResults</nobr></td>
				<td>boolean</td>
				<td>true</td>
				<td></td>
				<td>should the script cache the results of ajax requests for details</td>
			</tr>
			<tr>
				<td><nobr>hashLabel2</nobr></td>
				<td>string</td>
				<td></td>
				<td></td>
				<td>optional hashLabel for a sub-master so we can set it to 0 on it's initial load</td>
			</tr>
			<tr>
				<td><nobr>masterParent</nobr></td>
				<td>string</td>
				<td></td>
				<td></td>
				<td>optional hashLabel/ID for a parent detail</td>
			</tr>
			<tr>
				<td><nobr>masterChild</nobr></td>
				<td>string</td>
				<td></td>
				<td></td>
				<td>optional hashLabel/ID for a child detail</td>
			</tr>
			<tr>
				<td><nobr>loadFirst</nobr></td>
				<td>boolean</td>
				<td>true</td>
				<td></td>
				<td>should the script load the first row of the master list if none are marked as selected or defined in the URL</td>
			</tr>
			<tr>
				<td><nobr>selectedClass</nobr></td>
				<td>string</td>
				<td>selected</td>
				<td></td>
				<td>class to use on selected rows</td>
			</tr>
			<tr>
				<td><nobr>onloaddetail</nobr></td>
				<td>function</td>
				<td></td>
				<td></td>
				<td>callback that fires when the detail is loaded</td>
			</tr>
			<tr>
				<td><nobr>getSelectedRow</nobr></td>
				<td>method</td>
				<td></td>
				<td></td>
				<td>returns the row (object) that is currently selected</td>
			</tr>
			<tr>
				<td><nobr>getSelectdRowID</nobr></td>
				<td>method</td>
				<td></td>
				<td></td>
				<td>returns the ID of the row that is currently selected</td>
			</tr>
			<tr>
				<td><nobr>clearCache</nobr></td>
				<td>method</td>
				<td></td>
				<td></td>
				<td>clears the cache. if an ID is provided it clears only the cache for that ID</td>
			</tr>
			<tr>
				<td><nobr>rowCreate</nobr></td>
				<td>method</td>
				<td></td>
				<td></td>
				<td>expects rowID, data, dontFollow(optional). rowID = the ID the row should be given. data = a JSON object as shown here http://datatables.net/api for fnAddData, dontFollow = only add the row don't click it</td>
			</tr>
			<tr>
				<td><nobr>rowDestroy</nobr></td>
				<td>method</td>
				<td></td>
				<td></td>
				<td>expects rowID, gotoID(optional) rowID = id of row we are destroying, gotoID = id on the page we should then fire a click event on (to load another page, etc)</td>
			</tr>
		</table>
		<p class="text-sm">Options Column = The script only recognizes these values</p>
	</div><!-- /padding-md -->
</div>
<!-- /ixf-panel -->
