<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> <!-- Make IE play nice (needs to be first thing inside of head for IE apparently), use chrome frame if available -->
	<title>{{page.title}} - Interaction Framework</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- BEGIN IXF ASSETS -->
	<link rel="stylesheet" type="text/css" media="all" href="../ixf/styles/screen.css" />
	<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="../ixf/styles/screen-ie.css" /><![endif]-->
	<script type="text/javascript" src="../ixf/scripts/jquery.min.js"></script>
	<script type="text/javascript" src="../ixf/scripts/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../ixf/scripts/ixf-plugins.js"></script>
	<script type="text/javascript" src="../ixf/scripts/ixf-utilities.js"></script>
	<!-- END IXF ASSETS -->

	<link rel="stylesheet" type="text/css" media="all" href="../css/project.css" />
	<link rel="stylesheet" type="text/css" media="all" href="../css/syntaxHighlighter.css" />
	<script type="text/javascript" src="../js/project.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/lib/syntaxHighlighter.js" charset="utf-8"></script>
</head>

<body>
<a href="#body" class="invisible">Skip to content</a>
<div class="ixf-header" role="navigation">
	<div class="ixf-appname">
		<a href="#appmenu" class="ixf-appname-link ixf-popup" data-pop-direction="left" title="IxF Layouts">Interaction Framework</a>
	</div>
	<!-- END ixf-appname -->

	<div class="ixf-tools">
		<a href="#x" class="ixf-tools-link">No Arrow</a>
		<a href="#messages-menu" class="ixf-tools-link menu-arrow ixf-popup ixf-tools-link" data-pop-direction="right" title="6 Messages"><span class="messagecount">6</span> Messages</a>
		<a href="#myoptions-menu" class="ixf-tools-link ixf-popup ixf-tools-link menu-arrow" data-pop-direction="right" title="Johanssen Lippincottlestein">Options</a>
	</div>
	<!-- END ixf-tools -->

	<ul class="ixf-nav">
		<li class="first"><a href="../index.html"><span>Introduction</span></a></li>
		<li><a href="../demo/list.html#detail=intro"><span>Demos &amp; Examples</span></a></li>
		<li><a href="../layout/index.html"><span>Layouts</span></a></li>
		<li class="last selected"><a href="../documentation/index.html"><span>Documentation</span></a></li>
	</ul>
	<!-- END ixf-nav -->

</div>
<!-- END ixf-header -->

<div class="ixf-subheader" role="navigation">
	<ul class="ixf-subnav">
		<li class="first selected"><a href="../documentation/index.html"><span>Introduction</span></a></li>
		<li><a href="../documentation/general.html"><span>General Tips &amp; Tricks</span></a></li>
		<li><a href="../documentation/ajax-sites.html"><span>Ajax Sites</span></a></li>
		<li><a href="../documentation/data-attributes.html"><span>Data- Attributes</span></a></li>
		<li class="last"><a href="../documentation/themeroller.html"><span>Themeroller</span></a></li>
	</ul>
	<!-- END ixf-subnav -->
</div>
<!-- END ixf-subheader -->

<div class="ixf-panels">

<div class="ixf-panel ui-layout-center padding-md">

	<h1>{{page.title}}</h1>
	<p>Documentation for all the individual plugins are included in the <a href="../demo/list.html">Demos & Examples</a> and <a href="../layout/index.html">Layouts</a> sections.</p>
	<p>For help on how everything integrates together, please see the demos and examples.</p>

	<h2>Screencasts</h2>
	<p>Littered throughout this site are screencasts to help you understand how things work. Here is a list of everything so far.  Grab a bag of popcorn (extra butter) and enjoy.</p>
	
	<ul>
		<li><a href="../screencasts/bundles.html">Bundles</a></li>
		<li><a href="../screencasts/using-kickstart.html">Using Kickstart</a></li>
	</ul>

</div>
</div>
<!-- END ixf-panels -->


<!-- These menu lists do not need to show state, so they do not need to be in the menu system -->
<div id="myoptions-menu">
	<dl class="ixf-form form-h1 smtext margin-sm float-left">
		<dt>Text Size</dt>
		<dd class="options-vertical">
			<fieldset>
				<legend class="invisible">Contact Type</legend>
				<span class="ixf-option"><input type="radio" value="option1" id="option1" name="font" /> <label for="option1">Small</label></span>
				<span class="ixf-option"><input type="radio" value="option2" id="option2" name="font" checked="checked" /> <label for="option2">Medium</label></span>
				<span class="ixf-option"><input type="radio" value="option3" id="option3" name="font" /> <label for="option3">Large</label></span>
			</fieldset>
		</dd>
	</dl>

	<dl class="ixf-form form-h1 smtext margin-sm float-left">
		<dt>Screen</dt>
		<dd class="options-vertical">
			<fieldset>
				<legend class="invisible">Contact Type</legend>
				<span class="ixf-option"><input type="radio" value="option4" id="option4" name="screen" checked="checked" /> <label for="option4">Normal</label></span>
				<span class="ixf-option"><input type="radio" value="option5" id="option5" name="screen" /> <label for="option5">High Contrast</label></span>
				<span class="ixf-option"><input type="radio" value="option6" id="option6" name="screen" /> <label for="option6">Projector</label></span>
			</fieldset>
		</dd>
	</dl>

	<hr class="margin-sm" />
	<div class="ixf-popup-actions margin-sm">
		<a href="#x" class="sprite person prefix right">My Account</a>
		<a href="#x" class="sprite locked prefix left">Sign Out</a>
	</div>
</div>



<div id="appmenu">
	<ul class="ixf-list nolinks">
		<li class="selected"><a href="../index.html">IxF - Main/Intro</a></li>
		<li><a href="../demo/list.html#detail=widgets">IxF - Widgets Page</a></li>
		<li><a href="../layout/signin.html">Sign In Layout</a></li>
		<li><a href="../layout/small.html">Small App Layout 1</a></li>
		<li><a href="../layout/small2.html">Small App Layout 2</a></li>
	</ul>
</div>

<div id="messages-menu" class="padding-sm">
	<ul>
		<li><a href="#d">3 Reconciliation Reports Due</a></li>
		<li><a href="#d">2 Minutes Require Approval</a></li>
		<li><a href="#d">2 Overdue Expense Report</a></li>
	</ul>
</div>
</body>
</html>
